filedump/
password_helper.php
content/post/random/
content/user/*
!content/user/alt/
!content/user/alt/**
php-jwt/
PHPMailer/
src/Admin/Controller/LoginController.php
src/Admin/Support/AuthService.php